version: 0.1
log:
  level: info
  fields:
    service: registry-azure
storage:
  azure:
    accountname: "{{ azure_storage_account }}"
    accountkey: "{{ azure_storage_key }}"
    container: "{{ azure_storage_container }}"
    credentials:
      type: shared_key
  cache:
    blobdescriptor: inmemory
  delete:
    enabled: true
http:
  addr: :5001
  headers:
    X-Content-Type-Options: [nosniff]
  http2:
    disabled: false
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
