version: 0.1
log:
  level: info
  fields:
    service: registry-fs
storage:
  filesystem:
    rootdirectory: /mnt/registry-data
    maxthreads: 100
  cache:
    blobdescriptor: inmemory
  delete:
    enabled: true
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
  http2:
    disabled: false
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
